<nz-card class="vehicleCard" nzHoverable [nzCover]="coverTemplate">
  <nz-card-meta
    [nzTitle]="titleTemplate"
    [nzDescription]="descriptionTemplate"
  >

  </nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <img id="carPic" alt="Vehicle" src="assets/car.svg">
</ng-template>

<ng-template #descriptionTemplate>
  <div class="flex">
    <div>Build:</div>
    <div>
      {{vehicle.year? vehicle.year : 'not known'}}
    </div>
  </div>
  <div class="flex">
    <div>
      License:
    </div>
    <div>
      {{vehicle.license? vehicle.license : 'not known'}}
    </div>
  </div>
</ng-template>

<ng-template #titleTemplate>
  <div class="flex">
    <div>
      {{vehicle.make}} {{vehicle.model}}
    </div>
    <div>
      (<i>{{vehicle.name}}</i>)
    </div>
  </div>
</ng-template>
