<nz-breadcrumb>
  <nz-breadcrumb-item routerLink="">Home</nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/user">User</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-modal [(nzVisible)]="visible && loaded" nzTitle="Update personal data" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form class="form"  [formGroup]="editForm" nz-form>
      <nz-form-item>
        <nz-form-control nzErrorTip="Email should not be empty!">
          <nz-input-group>
            <input
              nz-input
              id="email"
              type="email"
              formControlName="email"
              placeholder="Email"
              required
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Password shouldn't be empty">
          <nz-input-group>
            <input
              nz-input
              id="password"
              type="password"
              formControlName="password"
              placeholder="Password"
            >
          </nz-input-group>
        </nz-form-control>
        <nz-form-control *ngIf="resize.innerWidth > 580" nzErrorTip="Passwords aren't the same">
          <nz-input-group>
            <input
              nz-input
              id="passwordCheck"
              type="password"
              formControlName="passwordCheck"
              placeholder="Repeat password"
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="resize.innerWidth <= 580">
        <nz-form-control  nzErrorTip="Passwords aren't the same">
          <nz-input-group>
            <input
              nz-input
              id="passwordCheck2"
              type="password"
              formControlName="passwordCheck"
              placeholder="Repeat password"
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleSubmit()">Edit</button>
  </div>
</nz-modal>

<div class="inner-content">
  <h1 class="centerText">Welcome to your profile, <span class="primary-color">{{this.auth.username | uppercase}}</span></h1>

  <img src="assets/user.svg" alt="user"/>

  <div class="data" *ngIf="loaded">
    <nz-statistic class="centerText" [nzValue]="userData.username.toUpperCase()" nzTitle="Username"></nz-statistic>
    <nz-divider *ngIf="resize.innerWidth > 870" [nzType]="'vertical'" style="height: 50px"></nz-divider>
    <nz-statistic class="centerText" [nzValue]="userData.email" nzTitle="Email"></nz-statistic>
    <nz-divider *ngIf="resize.innerWidth > 870" [nzType]="'vertical'" style="height: 50px"></nz-divider>
    <nz-statistic  class="centerText" [nzValue]="userData.role.toUpperCase()" nzTitle="Role"></nz-statistic>
  </div>
  <div class="data">
    <button *ngIf="loaded"
            nz-button
            (click)="handleEdit()"
            nzType="primary"
            nzShape="round"
    >
      Edit data
      <i nz-icon nzType="edit"></i>
    </button>
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzDanger
      (click)="showDeleteConfirm()"
    >
      Delete Account
      <i nz-icon nzType="delete"></i>
    </button>
  </div>

  <div *ngIf="loaded && userData.role === 'admin'">
    <nz-divider></nz-divider>
    <h2 class="centerText">User table for admins</h2>
    <div *ngIf="resize.innerWidth > 460">
      <nz-table
        #editUserTable
        [nzData]="userDisplayed"
        [nzLoading]="!tableLoaded"
        [nzPageSizeOptions]="[5,10,20,30]"
        [nzSize]="resize.innerWidth > 580? 'default':'small'"
        [nzPaginationPosition]="'both'"
        [nzShowSizeChanger]="true"
        nzPaginationType="small"
        nzTableLayout="auto"
      >
        <thead>
        <tr>
          <th>
            <span *ngIf="!menuVisible; else searchTemplate">Username</span>
            <nz-filter-trigger>
              <i nz-icon nzType="search" (click)="cancelSearch()"></i>
            </nz-filter-trigger>

          </th>
          <th>Email</th>
          <th>Role</th>
          <th>Password</th>
          <th>Password Repeat</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editUserTable.data">
          <ng-container *ngIf="!cache[data.username].edit; else editTemplate">
            <td nzBreakWord>{{ data.username }}</td>
            <td nzBreakWord>{{ data.email }}</td>
            <td nzBreakWord>{{ data.role }}</td>
            <td nzBreakWord>{{ "*".repeat(data.password.length) }}</td>
            <td nzBreakWord>{{ "*".repeat(data.password.length) }}</td>
            <td>
              <a (click)="startEdit(data.username)" nz-tooltip="Edit">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </a>
              <nz-divider [nzType]="'vertical'"></nz-divider>
              <a (click)="deleteOtherConfirm(data.username)" nz-tooltip="Delete">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </a>
            </td>
          </ng-container>
          <ng-template #editTemplate>
            <td>{{ data.username }}</td>
            <td><input type="text" nz-input [(ngModel)]="cache[data.username].data.email"/></td>
            <td>
              <nz-select  [(ngModel)]="cache[data.username].data.role">
                <nz-option [nzValue]="'member'" nzLabel="Member"></nz-option>
                <nz-option [nzValue]="'admin'" nzLabel="Admin"></nz-option>
              </nz-select>
            </td>
            <td>{{ "*".repeat(data.password.length) }}</td>
            <td>{{ "*".repeat(data.password.length) }}</td>
            <td>
              <a (click)="saveEdit(data.username)" class="save">Save</a>
              <nz-divider [nzType]="'vertical'"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.username)">Cancel</a>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #searchTemplate>
        <input
          class="search"
          type="text"
          nz-input placeholder="Username"
          [(ngModel)]="searchName"
          (ngModelChange)="search()"
        />
      </ng-template>
    </div>
    <h4 *ngIf="resize.innerWidth < 460" class="centerText">
      Your device is not wide enough for the admin table, please change to a wider device.
    </h4>
  </div>
</div>
