@import "~ng-zorro-antd/ng-zorro-antd.less";

.headline{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--inner-grid-padding);

  h1{
    padding: unset;
    margin: unset;
  }
}

.stats{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px 10px;
}

nz-statistic{
  width: 204px;
}
