<nz-breadcrumb>
  <nz-breadcrumb-item routerLink="">Home</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="inner-content">
  <div class="grid">

    <div class="banner">
      <img
        class="mainBanner"
        src="assets/mainBanner.svg"
        alt="banner"
      >
    </div>

    <div id="advantages" class="background">
      <i nz-icon nzType="dashboard" nzTheme="outline"></i>
      <i nz-icon nzType="picture" nzTheme="outline"></i>
      <i nz-icon nzType="area-chart" nzTheme="outline"></i>
      <i nz-icon nzType="euro" nzTheme="outline"></i>

      <div>Track your costs every where</div>
      <div>Modern Design</div>
      <div>User friendly charts and tables</div>
      <div>For Free!</div>
    </div>

    <div class="pic">
      <img
        src="assets/stacks.svg"
        alt="Dashboard picture"
      >
    </div>

    <div class="text">
      <h1>
        Add all your vehicles and track all together in your dashboard!
      </h1>
    </div>

    <div class="background text">
      <h1>
        Haven't signup yet?
        <br>
        Signup now!
      </h1>
    </div>

    <div class="background">
      Form <!-- TODO: Form must be done -->
    </div>

  </div>

</div>

