@import "~ng-zorro-antd/ng-zorro-antd.less";

@inner-grid-padding: 50px;

nz-breadcrumb-item:hover{
  color: @primary-color !important;
  cursor: pointer;
}

.mainBanner{
  width: 100%;
  max-width: none !important;
}

nz-divider{
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto) ;
  gap: @inner-grid-padding 0;

  font-size: 1.3rem;

  & >div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.flex-end{
      align-items: flex-end;
    }

    &#advantages{
      grid-column: span 3;
      padding: @inner-grid-padding;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-fill, auto);
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.8rem;


      &>div{
        padding: 25px 25px 0;
      }
    }

    ol{
      padding-left: 23px;
    }
  }

  h1{
    font-size: 2.5rem;
    text-align: center;
  }

  img{
    width: 100%;
    max-width: 500px;
  }
}

.banner{
  grid-column: span 3;
}

.text{
  grid-column: span 2;
  padding: @inner-grid-padding;
}



.horizontal-divider {
  border-right: 1px solid black;
  height: 90%;
}

.background{
  background: rgba(24, 144, 255, 0.35);
}

app-singup{
  width: 100%;
  padding-top: @inner-grid-padding;
}

.signup {
  width: 100%;
  grid-column: span 3;
  padding: @inner-grid-padding;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}


@media screen and (max-width: 1024px) {
  .grid{
    #advantages{
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(auto-fill, auto) !important;
    }

    #track{
      grid-column: 1;
      grid-row: 2;
    }

    #design{
      grid-column: 2;
      grid-row: 2;
    }

    #charts-icon, #free-icon{
      padding-top: @inner-grid-padding;
    }

    #charts{
      grid-column: 1;
      grid-row: 4;
    }

    #free{
      grid-column: 2;
      grid-row: 4;
    }
  }

  .signup{
    flex-direction: column !important;
  }

  .banner, .text, #advantages, .signup, .pic{
    grid-column: span 3;
  }

  .pic{
    grid-row: 4;
  }

}
