<div class="steps-wrapper">
  <nz-steps [nzCurrent]="currentStep"  [nzSize]="resize.innerWidth > 520? 'default' : 'small'">
    <nz-step nzTitle="Enter Data"></nz-step>
    <nz-step nzTitle="Finished"></nz-step>
  </nz-steps>
</div>


<div class="steps-content">

  <!--    First Step-->
  <div class="inner-flex" *ngIf="currentStep === 0">

    <img *ngIf="resize.innerWidth >= 880" class="pic" src="assets/steps.svg" alt="Configure Vehicle">
    <div class="right-column">
      <h1 class="centerText">{{deliverData ?  "Update Cost Item" : "Create new Cost Item"}}</h1>
      <div id="costType">
        <div>
          Type of cost:
        </div>
        <nz-select [(ngModel)]="costService.updateType" [nzDisabled]="deliverData">
          <nz-option nzValue="single" nzLabel="Single" [nzDisabled]="deliverData"></nz-option>
          <nz-option nzValue="repeating" nzLabel="Repeating" [nzDisabled]="deliverData"></nz-option>
          <nz-option nzValue="fuel" nzLabel="Fuel" [nzDisabled]="deliverData"></nz-option>
        </nz-select>
      </div>

      <img *ngIf="resize.innerWidth < 880 && resize.innerWidth > 465" class="pic" src="assets/steps.svg" alt="Configure Vehicle">

      <app-single-cost-form
        *ngIf="costService.updateType === 'single'"
        [deliverData]="deliverData"
        [vin]="vin"
        [item]="item"
        (sentData)="dataSent($event)"
      >
      </app-single-cost-form>

      <app-repeating-cost-form
        *ngIf="costService.updateType === 'repeating'"
        [deliverData]="deliverData"
        [vin]="vin"
        [item]="item"
        (sentData)="dataSent($event)"
      >
      </app-repeating-cost-form>

      <app-fuel-cost-form
        *ngIf="costService.updateType === 'fuel'"
        [deliverData]="deliverData"
        [vin]="vin"
        [item]="item"
        (sentData)="dataSent($event)"
      >
      </app-fuel-cost-form>
    </div>
  </div>

  <!--    Second Step-->
  <div class="horizontal-flex" *ngIf="currentStep === 1">
    <img class="pic" src="assets/done.svg" alt="Log-in Picture">
    <div class="centerText">
      <h1>Cost item {{deliverData? 'Updated' : 'Created'}} <span class="primary-color">successfully</span>!</h1>
      You will be redirected to cost items in {{countdown | number}} seconds ...
      <div *ngIf="countdown === 0" routerLink="overview">
        If you won't be redirected click <a routerLink="overview">here</a>!
      </div>
    </div>

  </div>
</div>
