<nz-breadcrumb>
  <nz-breadcrumb-item routerLink="">Home</nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/overview">Overview</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="inner-content">
  <h1 class="centerText title">
    Vehicle overview for <span class="primary-color">{{this.auth.username | uppercase}}</span>
  </h1>

  <div class="outerFlex">
    <div class="statsFlex">
      <nz-statistic class="centerText" [nzValue]="stats.numOfVehicles | number" nzTitle="Num of vehicles"></nz-statistic>
      <nz-divider *ngIf="resize.innerWidth > 1170" [nzType]="'vertical'" style="height: 50px"></nz-divider>
      <nz-statistic  class="centerText" [nzValue]="stats.sum | number" nzTitle="Costs (EUR)"></nz-statistic>
      <nz-divider *ngIf="resize.innerWidth > 1170" [nzType]="'vertical'" style="height: 50px"></nz-divider>
      <nz-statistic class="centerText" [nzValue]="stats.distance | number" nzTitle="Distance (KM) "></nz-statistic>
      <nz-divider *ngIf="resize.innerWidth > 1170" [nzType]="'vertical'" style="height: 50px"></nz-divider>
      <nz-statistic class="centerText" [nzValue]="stats.highest | number" nzTitle="Highest Cost (EUR)"></nz-statistic>
      <nz-divider *ngIf="resize.innerWidth > 1170" [nzType]="'vertical'" style="height: 50px"></nz-divider>
      <nz-statistic class="centerText" [nzValue]="stats.averagePerCar | number" nzTitle="Average Cost (EUR)"></nz-statistic>
    </div>
    <div id="vehicles">
      <nz-divider></nz-divider>
      <div class="titleFlex">
        <h2>Your Vehicles</h2>
        <button
          nz-button
          (click)="addVehicle()"
          nzType="primary"
          nzShape="round"
        >
          Add Vehicle
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <div class="vehicleFlex">
        <app-vehicle
          *ngFor="let vehicle of this.vehicles"
          [vehicle]="vehicle"
          (deleted)="deleteHandler($event)"
        ></app-vehicle>
      </div>
      <div class="centerText" *ngIf="vehicles.length === 0">
        <nz-empty
          nzNotFoundImage="assets/empty.svg"
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl"
        >
          <ng-template #contentTpl>
            <span>
          There are no vehicles.
        </span>
          </ng-template>
          <ng-template #footerTpl>
            <button nz-button nzType="primary" nzShape="round" (click)="addVehicle()">Create Now</button>
          </ng-template>
        </nz-empty>
      </div>
    </div>

  </div>


</div>

<ng-template #titleTemplate>



</ng-template>

<ng-template #statisticTemplate>

</ng-template>
