<div class="headline">
  <h1 class="single-color">Single Costs</h1>
  <button
    nz-button
    (click)="addSingleCost()"
    nzType="primary"
    nzShape="round"
  >
    Add Cost Item
    <i nz-icon nzType="plus"></i>
  </button>
</div>
<nz-divider></nz-divider>

<nz-table
  #basicTable
  [nzData]="costService.costs.single"
  nzPaginationType="small"
  [nzShowSizeChanger]="true"
  [nzPaginationPosition]="'both'"
  [nzPageSizeOptions]="[5,10,20,30]"
  [nzScroll]="{ x: '800px'}"
  nzTableLayout="auto"
>
  <thead>
  <tr>
    <th nzWidth="60px"></th>
    <th
      *ngFor="let column of listOfColumns"
      [nzSortOrder]="column.sortOrder"
      [nzSortFn]="column.sortFn"
      [nzSortDirections]="column.sortDirections"
      [nzFilterMultiple]="column.filterMultiple"
      [nzFilters]="column.listOfFilter"
      [nzFilterFn]="column.filterFn"
      [nzShowFilter]="column.listOfFilter.length > 0"
    >
      {{ column.name }}
    </th>
    <th nzWidth="80px" nzRight>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of basicTable.data">
    <tr>
      <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
      <td>{{ data.name }}</td>
      <td>{{ data.price }} €</td>
      <td>{{ data.km }} <span *ngIf="data.km">km</span> <span *ngIf="!data.km">---</span> </td>
      <td>{{ data.type }}</td>
      <td>{{ data.date | date: 'dd MMM YYYY' }}</td>
      <td nzRight>
        <a
          (click)="updateCost(data.id)"
          nz-tooltip="Edit"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          (click)="deleteCost(data.id)"
          nz-tooltip="Delete"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </a>
      </td>
    </tr>
    <tr [nzExpand]="expandSet.has(data.id)">
      Description: {{ data.description }}
    </tr>
  </ng-container>
  </tbody>
</nz-table>

<h2 class="centerText">Single Costs per Month</h2>
<nz-divider></nz-divider>
<app-costs-per-month-chart [type]="'single'"></app-costs-per-month-chart>
