<form
  *ngIf="!success && !error"
  [formGroup]="signup"
  (ngSubmit)="onSubmit()"
  nz-form >
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'name'" nzRequired>Username</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The name is already used!">
      <input
        nz-input
        id="name"
        type="text"
        formControlName="username"
        placeholder="Username"
        required
      >
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'email'" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This isn't a valid E-Mail">
      <input
        nz-input
        id="email"
        type="email"
        formControlName="email"
        placeholder="E-Mail"
        required
      >
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'pass'" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24"
      nzErrorTip="The Password must contain:
        At least one digit [0-9]
        At least one lowercase character [a-z]
        At least one uppercase character [A-Z]
        At least one special character [*.!@#$%^&(){}[]:;<>,.?/~_+-=|\]
        At least 8 characters in length, but no more than 32."
    >
      <input
        nz-input
        id="pass"
        type="password"
        formControlName="password"
        placeholder="Password"
        required
      >
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'passwordCheck'" nzRequired>Repeat Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The passwords aren't the same!">
      <input
        nz-input
        id="passwordCheck"
        type="password"
        formControlName="passwordCheck"
        placeholder="Repeat Password"
        required
      >
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button [nzType]="'primary'" [disabled]="!signup.valid">Signup</button>
    </nz-form-control>
  </nz-form-item>


</form>

<nz-result
  *ngIf="success"
  nzStatus="success"
  nzTitle="Successfully Signed in!"
  nzSubTitle="Welcome to the Vehicle Cost Generator"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" routerLink="/login">Login Now</button>
  </div>

</nz-result>

<nz-result
  *ngIf="error"
  nzTitle="{{error.title}}"
  nzStatus="error"
  nzSubTitle="{{error.message}}"
>
  <div nz-result-content>
    <div class="desc">
      <h4 nz-title>The content you submitted has the following error:</h4>
      <p nz-paragraph>
        <i nz-icon nzType="close-circle"></i>
        Your account has been frozen
        <a>Thaw immediately &gt;</a>
      </p>
      <p nz-paragraph>
        <i nz-icon nzType="close-circle"></i>
        Your account is not yet eligible to apply
        <a>Apply immediately &gt;</a>
      </p>
    </div>
  </div>
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="error = null">Back</button>
  </div>
</nz-result>
