@import "~ng-zorro-antd/ng-zorro-antd.less";

.headline{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--inner-grid-padding);

  h1{
    padding: unset;
    margin: unset;
  }
}
