<div class="wrapper">
  <form [formGroup]="login" (ngSubmit)="onSubmit()" nz-form>
    <nz-form-item>
      <nz-form-control nzErrorTip="Username should not be empty!">
        <nz-input-group nzPrefixIcon="user">
          <input
            nz-input
            id="username"
            type="text"
            formControlName="username"
            placeholder="Username"
            required
          >
        </nz-input-group>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Password should not be empty!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            nz-input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
            required
          >
        </nz-input-group>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button id="login-btn" nz-button [nzType]="'primary'" [disabled]="!login.valid">Login</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
