@import "~ng-zorro-antd/ng-zorro-antd.less";

.steps-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px
}

.steps-wrapper{
  width: 100%;
  max-width: 1500px;
  flex: 1 1 auto;
}

.inner-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: var(--inner-grid-padding);
  width: 100%;
  max-width: 1300px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  max-width: 1000px;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 430px;
    nz-form-item{
      width: 80%;
      min-width: 300px;
    }
  }
}

.pic{
  flex-grow: 1;
  min-height: 338px;
  max-width: 400px;
  min-width: 150px;
}

.button-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.horizontal-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--inner-grid-padding);

  .pic {
    width: 100%;
    min-width: 500px;
    max-width: 1500px;
  }
}

@media all and (max-width: 970px){
  .pic{
    min-width: unset !important;
    min-height: unset !important;
  }
}

@media all and (max-width: 450px){
  .steps-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .right-column{
    .form{
      min-height: 0;
      min-width: 0;
      nz-form-item{
        min-width: 0;
      }
    }
  }

  .button-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
  }

}
