<nz-breadcrumb>
  <nz-breadcrumb-item routerLink="">Home</nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/overview">Overview</nz-breadcrumb-item>
  <nz-breadcrumb-item [routerLink]="'/overview/' + vin">{{vin}}</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="inner-content">
  <nz-tabset nzType="card">
    <nz-tab [nzTitle]="'Single Costs'">
      <app-single-costs></app-single-costs>
    </nz-tab>
    <nz-tab [nzTitle]="'Repeating Costs'">
      <app-repeating-costs></app-repeating-costs>
    </nz-tab>
    <nz-tab [nzTitle]="'Fuel Costs'">
      <app-fuel-costs></app-fuel-costs>
    </nz-tab>
  </nz-tabset>
</div>
