<form class="form"  [formGroup]="addSingle" (ngSubmit)="onSubmit()" nz-form>
  <nz-form-item>
    <nz-form-control nzErrorTip="Name should not be empty!">
      <nz-input-group>
        <input
          nz-input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Name"
          required
        >
      </nz-input-group>
    </nz-form-control>
    <nz-form-control *ngIf="resize.innerWidth > 580" nzErrorTip="Date should not be empty!">
      <nz-input-group>
        <nz-date-picker
          nzMode="date"
          formControlName="date"
          id="date"
          nzPlaceHolder="Date"
          style="width: 100%"
          required
        >
        </nz-date-picker>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item  *ngIf="resize.innerWidth <= 580">
    <nz-form-control nzErrorTip="Date should not be empty!">
      <nz-input-group>
        <nz-date-picker
          nzMode="date"
          formControlName="date"
          id="date2"
          nzPlaceHolder="Date"
          style="width: 100%"
          required
        >
        </nz-date-picker>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Type should not be empty!">
      <nz-input-group>
        <nz-select
          id="type"
          formControlName="type"
          nzPlaceHolder="Type of costs"
          required
        >
          <nz-option
            *ngFor="let type of costService.singleCostTypes"
            [nzValue]="type.value"
            [nzLabel]="type.text"
          ></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Price should not be empty!">
      <nz-input-group nzAddOnAfter="€">
        <input
          nz-input
          id="price"
          type="number"
          min="0"
          step="0.1"
          formControlName="price"
          placeholder="Price"
          required
        >
      </nz-input-group>
    </nz-form-control>
    <nz-form-control  *ngIf="resize.innerWidth > 580">
      <nz-input-group nzAddOnAfter="km">
        <input
          nz-input
          id="km"
          type="number"
          min="0"
          step="100"
          formControlName="km"
          placeholder="Mileage"
        >
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="resize.innerWidth <= 580">
    <nz-form-control >
      <nz-input-group nzAddOnAfter="km">
        <input
          nz-input
          id="km2"
          type="number"
          min="0"
          step="100"
          formControlName="km"
          placeholder="Mileage"
        >
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input
          nz-input
          id="description"
          type="text"
          formControlName="description"
          placeholder="Description"
        >
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-control>
      <div class="button-flex">
        <button
          *ngIf="!deliverData"
          id="add-btn"
          nz-button
          [nzType]="'primary'"
          nzShape="round"
          [disabled]="!addSingle.valid"
        >
          Add Cost Item <i nz-icon nzType="plus"></i>
        </button>

        <button
          *ngIf="deliverData"
          id="edit-btn"
          nz-button
          [nzType]="'primary'"
          nzShape="round"
          [disabled]="!addSingle.valid"
        >
          Update Cost Item <i nz-icon nzType="edit"></i>
        </button>
      </div>

    </nz-form-control>
  </nz-form-item>
</form>
